.Card {
  height: 350px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
  /* border-radius: 25px; */
  background-size: cover;
  background-position: center;
}
